header,main,footer {
	background-color: rgb(238, 241, 19);
	font-size: 1.6em;
}

body {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	background-color: rgb(6, 87, 6);
	font-size: 65%;
}

header {
	padding: 2em;
}

header h1, h2 {
    text-align: center;
    margin: 1;
}

h1 {
	font-size: 2.3em;
}

h2 {
	font-size: 1.8em;
}

main h2 {
	padding: 0.5em 0 0.5em 0.5em;
}

section {
	margin: 2em 2em;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 0;
}

#listofrest ul {
	text-align: center;
	padding: 0 0 0.5em 0.5em;
}

#listofrest ul li {
	display: inline-block;
	margin-right: .2em;
	font-size: 1em;
}

p {
	padding: 1em;
}

figure {
	margin: 0;
	padding: 0;
    text-align: center;
    font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
}

footer p {
	display: inline-block;
}

.pic {
	width: 50%;
	max-width: 50%;
}
